<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/generalLayout :: layout (~{::body}, '')}">
<body>
<style>
	.ad-setting-steps {
		color: white
	}
</style>
<div>
	<div class="border-bottom mb-4">
		<div class="h6 pb-2">
			Credit: $<span th:text="${#numbers.formatDecimal(credit,0,2)}">0.00</span>
			<a class="btn btn-outline-primary btn-sm ml-3" th:href="|${websiteUrl}/setting/credit/bitcoin|">Buy Credit</a>
		</div>
	</div>
	<form class="needs-validation" novalidate action="javascript: adActive()">
		<div class="mb-3"><strong>Bump To Top</strong></div>
		<div class="mb-3 form-inline">
			<input class="form-check-input" type="checkbox" value="1" id="enableToTop" name="enableToTop"> 
			<label class="form-check-label" for="enableToTop"> 
				<span>Bump to top every</span>
			</label>
			<select id="toTopFrequency" name="toTopFrequency" class="ml-1 form-control form-control-sm">
				<option th:each="frequency: ${#numbers.sequence(1, 24)}" th:value="${frequency}" th:text="|${frequency} hours|">1 hour</option>
			</select>
			<span class="ml-1">for</span>
			<select id="toTopTimes" name="toTopTimes" class="ml-1 form-control form-control-sm">
				<option th:each="toTopTimes: ${#numbers.sequence(1, 24)}" th:value="${toTopTimes}" th:text="|${toTopTimes} times ($${#numbers.formatDecimal(toTopTimes*toTopUnitFee,0,2)})|">1 times ($1.00)</option>
			</select>
		</div>
		<div class="mb-3"><strong>Sponsor Ad</strong></div>
		<div class="mb-3 form-inline">
			<input class="form-check-input" type="checkbox" value="1" id="enableSponsor" name="enableSponsor"> 
			<label class="form-check-label" for="enableSponsor"> 
				<span>Your ad will appear highlighted with thumbnails</span>
			</label>
		</div>
		<div class="mb-3 form-inline">
			<span>Number of weeks: </span>
			<select id="sponsorTerm" name="sponsorTerm" class="ml-1 form-control form-control-sm">
				<option th:each="sponsorTerm : ${#numbers.sequence(1, 24)}" th:value="${sponsorTerm}" th:text="|${sponsorTerm} weeks ($${#numbers.formatDecimal(sponsorTerm*sponsorUnitFee,0,2)})|">1 weeks ($4.00)</option>
			</select>
		</div>
		<input type="hidden" name="advertiseId" th:value="${advertise.id}">
		<button class="btn btn-primary mb-3" type="submit">Submit</button>
		<div class="error-message text-danger mb-3"></div>
	</form>
</div>
<script th:inline="javascript">
	function adActive() {
		$('[type=submit]').prop('disabled', true);
		$('.error-message').text('');
		$.ajax({
			type: 'POST',
			url: "/api/ad/active",
			data: $('form').serialize(),
			dataType: "json",
			success: function (result) {
				window.location.href = "/setting/ad/done/" + result.data.id;
			},
			error: function (xhr) {
				$('.error-message').text(xhr.responseJSON.message);
				$('[type=submit]').prop('disabled', false);
			}
		});
	}
</script>
</body>
</html>
