<!doctype html>
<html lang="en" th:fragment="layout (template, selectedMenu)">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">
	<link rel="icon" href="/images/favicon.ico">

	<title>Error</title>
	<meta name="description" content="Error">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	<div>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
		</ul>
	</div>
</nav>
	
<main role="main" class="container">
	<th:block th:include="${template}"/>
</main>

</body>
</html>
